menuentry "IzacOS" {
    linux /boot/bzImage console=tty0 console=ttyS0,115200
    initrd /boot/initramfs.cpio.gz
}

menuentry "IzacOS (nomodeset)" {
    linux /boot/bzImage console=tty0 nomodeset
    initrd /boot/initramfs.cpio.gz
}